src/main/resources/xqdoc-1.0.12022018.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c)2010 Elsevier, Inc.
 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * The use of the Apache License does not indicate that this project is
 * affiliated with the Apache Software Foundation.
 -->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.xqdoc.org/1.0"
    xmlns="http://www.xqdoc.org/1.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:simpleType
        name="uri">
        <xs:annotation>
            <xs:documentation>Simple type for defining the uris associated
                with things such as library modules associated
                with functions, variables, imports, etc.</xs:documentation>
        </xs:annotation>
        <xs:restriction
            base="xs:string"></xs:restriction>
    </xs:simpleType>

    <xs:complexType
        name="type">
        <xs:annotation>
            <xs:documentation>Simple type for defining the type associated
                with things such as global variables, function
                parameters, and function return types etc.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension
                base="xs:string">
                <xs:attribute
                    name="occurrence"
                    type="occurrence"
                    use="optional"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType
        name="parameters">
        <xs:annotation>
            <xs:documentation>Complex type for function parameters</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="parameter"
                type="parameter"
                maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType
        name="parameter">
        <xs:annotation>
            <xs:documentation>Complex type for an individual function parameter</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="name"
                type="name"
                minOccurs="0"></xs:element>
            <xs:element
                name="type"
                type="type"
                minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType
        name="return">
        <xs:annotation>
            <xs:documentation>Complex type for the return value from a function</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="type"
                type="type"
                minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType
        name="occurrence">
        <xs:annotation>
            <xs:documentation>Simple type used for definging the number of occurrences for a global variable, function parameter
                or function return type</xs:documentation>
        </xs:annotation>
        <xs:restriction
            base="xs:string">
            <xs:enumeration
                value="?"></xs:enumeration>
            <xs:enumeration
                value="*"></xs:enumeration>
            <xs:enumeration
                value="+"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType
        name="name">
        <xs:annotation>
            <xs:documentation>Simple type for defining the names associated
                with things such as functions, paramters, module name, etc.</xs:documentation>
        </xs:annotation>
        <xs:restriction
            base="xs:string"></xs:restriction>
    </xs:simpleType>

    <xs:complexType
        name="invoked">
        <xs:annotation>
            <xs:documentation>Complex type used for defining the functions
                invoked from within a particular function.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="uri"
                type="uri"></xs:element>
            <xs:element
                name="name"
                type="name"></xs:element>
        </xs:sequence>
        <xs:attribute
            name="arity"
            type="xs:integer"
            use="optional"></xs:attribute>
    </xs:complexType>

    <xs:complexType
        name="custom">
        <xs:annotation>
            <xs:documentation>Complex type used for defining a custom comment type.
                The type attribute allows the differentiation of the custom
                comment types. If the custom comment is @example, then the
                value in the 'tag' attribute would be 'example'.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension
                base="mixed-text">
                <xs:attribute
                    name="tag"
                    type="xs:string"
                    use="required"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType
        name="comment">
        <xs:annotation>
            <xs:documentation>Complex type used for defining the comments associated
                with a library module, imports, variables, or functions. 
                The follow xqdoc 'directives' map to the equivalent
                elements defined below ... with the exception of description
                where there is no directive.
                
                @author ...... author
                @version ..... version
                @param ....... param
                @return ...... return
                @error ....... error
                @deprecated .. deprecated
                @since ....... since
                @see ......... see</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="description"
                type="mixed-text"
                minOccurs="0"></xs:element>
            <xs:element
                name="author"
                type="mixed-text"
                minOccurs="0"
                maxOccurs="unbounded"></xs:element>
            <xs:element
                name="version"
                type="mixed-text"
                minOccurs="0"></xs:element>
            <xs:element
                name="param"
                type="mixed-text"
                minOccurs="0"
                maxOccurs="unbounded"></xs:element>
            <xs:element
                name="return"
                type="mixed-text"
                minOccurs="0"></xs:element>
            <xs:element
                name="error"
                type="mixed-text"
                minOccurs="0"
                maxOccurs="unbounded"></xs:element>
            <xs:element
                name="deprecated"
                type="mixed-text"
                minOccurs="0"></xs:element>
            <xs:element
                name="see"
                type="mixed-text"
                minOccurs="0"
                maxOccurs="unbounded"></xs:element>
            <xs:element
                name="since"
                type="mixed-text"
                minOccurs="0"
                maxOccurs="unbounded"></xs:element>
            <xs:element
                name="custom"
                type="custom"
                minOccurs="0"
                maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType
        name="mixed-text"
        mixed="true">
        <xs:annotation>
            <xs:documentation>Complex type used for comment text to allow the inclusion
                of embedded HTML markup within comments.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any
                minOccurs="0"
                maxOccurs="unbounded"
                processContents="skip"></xs:any>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType
        name="control">
        <xs:annotation>
            <xs:documentation>Complex type used for defining information about the package
                version (and date) used to generate the internal xqdoc XML.
                Date should be the date when the XML xqdoc file is genearted.
                Version should either be the version of the XQDoc conversion package
                used to generate the XML or 'n/a' if the XML is generated from
                some other mechanism (i.e. scripts from XHTML for MarkLogic).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="date"
                type="xs:string"></xs:element>
            <xs:element
                name="version">
                <xs:simpleType>
                    <xs:restriction
                        base="xs:string">
                        <xs:enumeration
                            value="1.0"></xs:enumeration>
                        <xs:enumeration
                            value="N/A"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType
        name="module">
        <xs:annotation>
            <xs:documentation>Complex type used for defining the module URI and any
                high-level comments associated with the module.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="uri"
                type="uri"></xs:element>
            <xs:element
                name="name"
                type="name"
                minOccurs="0"></xs:element>
            <xs:element
                name="comment"
                type="comment"
                minOccurs="0"></xs:element>
            <xs:choice
                minOccurs="0"
                maxOccurs="unbounded">
                <xs:element
                    name="invoked"
                    type="invoked"
                    minOccurs="0"
                    maxOccurs="unbounded"></xs:element>
                <xs:element
                    name="ref-variable"
                    type="invoked"
                    minOccurs="0"
                    maxOccurs="unbounded"></xs:element>
            </xs:choice>
            <xs:element
                name="body"
                type="xs:string"
                minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute
            name="type"
            use="required">
            <xs:simpleType>
                <xs:restriction
                    base="xs:string">
                    <xs:enumeration
                        value="main"></xs:enumeration>
                    <xs:enumeration
                        value="library"></xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType
        name="namespaces">
        <xs:annotation>
            <xs:documentation>Complex type used for defining the namespaces defined within
                the library module.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="namespace"
                minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute
                        name="prefix"
                        use="required"></xs:attribute>
                    <xs:attribute
                        name="uri"
                        use="required"></xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType
        name="variables">
        <xs:annotation>
            <xs:documentation>Complex type used for defining the variable names defined within
                the library module and any comments associated with the variables.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="variable"
                minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                            name="uri"
                            type="uri"
                            minOccurs="0"></xs:element>
                        <xs:element
                            name="name"
                            type="name"></xs:element>
                        <xs:element
                            name="comment"
                            type="comment"
                            minOccurs="0"></xs:element>
                        <xs:element
                            name="annotations"
                            type="annotations"
                            minOccurs="0"></xs:element>
                        <xs:element
                            name="type"
                            type="type"
                            minOccurs="0"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType
        name="annotations">
        <xs:annotation>
            <xs:documentation>Complex type used for defining the annotations defined for
                a variable or function.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="annotation"
                minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                            name="literal"
                            minOccurs="0"
                            maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension
                                        base="mixed-text">
                                        <xs:attribute
                                            name="type"
                                            type="xs:string"
                                            use="required"></xs:attribute>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute
                        name="name"
                        use="required"></xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType
        name="imports">
        <xs:annotation>
            <xs:documentation>Complex type used for defining the imported modules within the 
                the library module and any comments associated with the imports.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="import"
                minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                            name="uri"
                            type="uri"></xs:element>
                        <xs:element
                            name="comment"
                            type="comment"
                            minOccurs="0"></xs:element>
                    </xs:sequence>
                    <xs:attribute
                        name="type"
                        use="optional">
                        <xs:simpleType>
                            <xs:restriction
                                base="xs:string">
                                <xs:enumeration
                                    value="library"></xs:enumeration>
                                <xs:enumeration
                                    value="schema"></xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType
        name="functions">
        <xs:annotation>
            <xs:documentation>Complex type used for defining the functions contained within the 
                the library module and any comments associated with the functions. 
                Any 'invoked' functions associated with this function should also
                be defined.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element
                name="function"
                minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                            name="comment"
                            type="comment"
                            minOccurs="0"></xs:element>
                        <xs:element
                            name="name"
                            type="name"></xs:element>
                        <xs:element
                            name="annotations"
                            type="annotations"
                            minOccurs="0"></xs:element>
                        <xs:element
                            name="signature"
                            type="xs:string"
                            minOccurs="0"
                            maxOccurs="unbounded"></xs:element>
                        <xs:element
                            name="parameters"
                            type="parameters"
                            minOccurs="0"
                            maxOccurs="1"></xs:element>
                        <xs:element
                            name="return"
                            type="parameter"
                            minOccurs="0"
                            maxOccurs="1"></xs:element>
                        <xs:choice
                            minOccurs="0"
                            maxOccurs="unbounded">
                            <xs:element
                                name="invoked"
                                type="invoked"
                                minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                            <xs:element
                                name="ref-variable"
                                type="invoked"
                                minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:choice>
                        <xs:element
                            name="body"
                            type="xs:string"
                            minOccurs="0"></xs:element>
                    </xs:sequence>
                    <xs:attribute
                        name="arity"
                        type="xs:integer"
                        use="optional"></xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element
        name="xqdoc">
        <xs:annotation>
            <xs:documentation>Complex type used for defining the global root element of xqdoc. 
                There should be '1' xqdoc xml file for each library module.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element
                    name="control"
                    type="control"></xs:element>
                <xs:element
                    name="module"
                    type="module"></xs:element>
                <xs:element
                    name="imports"
                    type="imports"
                    minOccurs="0"></xs:element>
                <xs:element
                    name="namespaces"
                    type="namespaces"
                    minOccurs="0"></xs:element>
                <xs:element
                    name="variables"
                    type="variables"
                    minOccurs="0"></xs:element>
                <xs:element
                    name="functions"
                    type="functions"
                    minOccurs="0"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
